@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import "colorscheme.css";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif !important;
    background-color: whitesmoke;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 14px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

small {
    font-weight: 300;
}

input {
    outline: none !important;
}

input[type=text],
input[type=number],
input[type=date],
input[type=password],
input[type=email],
select {
    border-radius: 15px !important;
    border: none !important;
    height: 30px !important;
    padding: 5px !important;
    text-align: center !important;
}

select {
    font: 400 14px Roboto, sans-serif !important;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=password]:focus,
input[type=email]:focus,
select:focus {
    border: 1px solid #4834d4;
    transition: 0.2s;
}

h1 {
    font: 700 38px Roboto, sans-serif;
}

h6 {
    font: 300 12px Roboto, sans-serif;
}

form {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.content {
    margin: auto;
    margin-bottom: 75px;
    width: 40%;
    text-align: center;
    background-color: #BCDBFE;
    padding: 30px;
    border-radius: 15px;
    top: -50%;
    transform: translate(0, 10%);
}

.content td {
    padding-left: 7px;
    padding-rigth: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.esquerda{
    width: 80%;
    vertical-align: top;

}

.direita{
    width: 20%;
    vertical-align: top;
}
